
.code-block-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.code-block-header {
  background-color: #557493;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-family: monospace;
}

.copy-icon {
  margin-right: 0.3rem;
}

.language-label {
  text-transform: capitalize;
}
