/*.copy-button {
    cursor: pointer;
    background-color: #d7335f;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  */
 /*
  .copy-button {
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  
  .copy-button:hover {
    background-color: #2980b9;
  }
  
  .copy-button:active {
    background-color: #2c3e50;
  }
*/  
.code-block-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.code-block-header {
  background-color: #557493;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-family: monospace;
}

.copy-icon {
  margin-right: 0.3rem;
}

.language-label {
  text-transform: capitalize;
}
